[1991-0228 Hindi Talk Extract on Agnya Chakra]

కార్యక్రమానికి హాజరు కావడానికి వచ్చారు, కూర్చున్నారు.

అప్పుడు కూడా వారి సమస్యల గురించి వారు ఆలోచిస్తున్నారు. నాకు ఇది జరిగింది , అది అది జరిగింది, ఇది ఇలా జరిగింది అని. మరియు నా సమస్య గురించి మాతాజీతో ఎప్పుడు చెప్పగలను? మాతాజీ మీరు కూడా ఇక్కడ లేరు, నేను అలాంటి సమస్యలో ఉన్నాను. నేను చెప్పేది అర్థం చేసుకోవడానికి బదులు మీ ఆంతర్యపు ఆలోచనలలో మీరు రెచ్చగొట్టబడి ఉన్నారు. మరియు ఆ భ్రమలో, మీకు కాన్సర్ వచ్చింది. మీకు ఈ వ్యాధి వచ్చింది, మీకు ఆ వ్యాధి వచ్చింది. కేవలం మానసిక యోచన, మనం మానసికంగా ఏమి ఆలోచిస్తున్నాము? ఎలాంటి ఆలోచనలు మనకు వస్తున్నాయి? మనకు ఈ శోకం వుంది, ఆ దుఃఖం వుంది లాంటి ఆలోచనలు.

ఇది మామోత్(పూర్వయుగమందు ఉన్న ఒక జంతువు) సమస్య. దాని బదులు మీరు ఏమి ఆలోచించాలి? మీరు ఆశీర్వాదాలు లెక్కించుకోండి. తల్లి యొక్క ఆశీర్వాదాలు మనకు ఎన్ని ఉన్నాయి? కోట్ల కొలదీ ప్రజలు ఈ ఢిల్లీ నగరంలో నివసిస్తున్నారు. వారిలో ఎంతమందికి సహజయోగం వచ్చింది? మనం కొంత ప్రత్యేకత కలిగిన వ్యక్తులం. చిత్తాన్ని పాడు చేసుకుంటున్న కొంతమంది పనికిమాలినవారు కాదు. మనకి సహజయోగం వుంది. ఆంతర్యం నుండి ఇది మనకి అనుభవంలోకి రావాలి.

మరియు అంతర్గతంగా జీవి లోతుల్లోకి వెళ్ళాలి. ఈ రకంగా ఈ మోసపూరిత పరిమితుల నుంచి మీరు బయటపడొచ్చు. మీ ఆలోచన మీది. మేము ఢిల్లీ నుంచి వచ్చాము అని చెబితే ఒకరోజు ఈ ఢిల్లీలోని ప్రజలు మిమ్మల్ని బహిష్కరించవచ్చు. నోయిడా నుంచి వచ్చాము అని మీరు చెబితే ఒకరోజు, నోయిడా ప్రజలు తమ తుపాకీలతో మీ వెంట పరుగెడతారు, నేను నోయిడా నుండి వచ్చానని ఎందుకు చెప్పానా అని అప్పుడు గ్రహిస్తారు. అప్పుడు, మీరు ఢిల్లీ వైపు పరుగెడతారు ఢిల్లీ ప్రజలు మిమ్మల్ని ధిక్కరిస్తూ ఇలా అంటారు మీరు నొయిడాకి చెందినవారు కదా, ఇక్కడకి ఎందుకు వచ్చావు? ఈ విధంగా మీరు ఎక్కడికీ సంబంధించిన వారు కాదు మరియు ఎక్కడా మీ స్వంతం అని పిలవడానికి ఉండదు. కారణం ఏమిటంటే మీ చిత్తం ఎక్కడికీ సంబంధించినది కాదు, ఇక్కడా లేదు, అక్కడా లేదు. మీరు గ్రహించి మరియు లోతులకి వెళితే తప్ప మిమ్మల్ని మీరు సహజ యోగిని లేదా సహజ యోగి అనుకోవచ్చు. వాస్తవానికి మీరు ఒక్కరు అని నేను అనుకోను.

ఎందుకంటే సహజయోగి యొక్క మొదటి లక్షణం ఇది అతను ప్రశాంతమైన చిత్తాన్ని కలిగి ఉన్నాడు. మరియు చాలా శక్తివంతమైనది. ఎవరికీ భయపడకపోవడమనేది చాలా శక్తివంతమైనది. మరియు అతని జీవితం చాలా స్వచ్ఛమైనది అతని శరీరం స్వచ్ఛమైనది, అతని హృదయం స్వచ్ఛమైనది మరియు అతని ఆత్మ యొక్క కాంతితొ, తను ప్రపంచమంతా ప్రేమను వ్యాప్తి చేస్తాడు. ఎవరైతే ప్రేమించలేరో , అసలు సహజయోగిగా ఉండలేరని నేను అనుకుంటున్నాను. అతను నిచ్చెనలో మొదటి మెట్టుకూడా ఎక్కలేడు. ఆకాశంలో చాలా గాలి పటాలు ఎగరడం మీరు చూస్తుంటారు. కానీ అవి వేరేవాళ్ళ ద్వారా ఎగురవేయబడతాయి ఏదైనా గాలిపటం యొక్క దారం తెగితే, లేదా చేతిపట్టు పొతే, గాలిపటం ఎక్కడకు ఎగిరిపోతుందో ఎవరికీ తెలియదు. ఆత్మ విషయంలో కూడా అంతే జరుగుతుంది. అందువలన, మీ చిత్తం మీ ఆత్మ వైపు ఉంచండి.

మరియు ఈ ప్రక్రియలో మిమ్మల్ని స్వచంగా చేసుకోవడం సహజయోగంలో ఒక తపస్సు వంటిది. దీనికోసం, మీరు ఈ రోజు హోమం చేసారు, ఇది కూడా ఒక తపస్సే. ఎందుకంటే అగ్ని అన్నింటినీ చుట్టుముట్టి దహించేస్తుంది. అలాగే, మీ తపస్సు మీ చెడుఆలోచనలన్నింటినీ అన్ని తప్పుడు పరిమితుల్నీ నాశనం చేస్తుంది. ఈ ఆనందాన్ని స్వీకరించడం మీ హక్కు మరియు మీరు ఈ ఆనందాన్ని సాధించగలరు మరియు మీరు సాధించారు కూడా. కానీ, ఈ ఆనందనాన్ని వ్యాప్తి చేయడం కొరకు, మీకు ఉన్నత స్థితి ఉండాలి. మీరు గంగా నది దగ్గరకి ఒక చిన్న గిన్నెతో వెళ్ళినట్లైతే మీరు దాంట్లో నీటిని నింపి తిరిగి రావొచ్చు. మీరు కుండను తీసుకువెళితే, మీరు కుండను నింపి తిరిగి రావొచ్చు. అయితే, మీరు అలాంటి ఏర్పాట్లు చేయగలిగితే గంగా నది నుండి ఆ నీటిని మీ వైపు దారిమళ్లించవచ్చు, గంగా నదిలో నీటిని మీ చుట్టూ పారించవచ్చు. 68 00:04:58,278 --> 00:05:01,186 కాబట్టి, మిమ్మల్ని మీరు ఏ స్థితిలో చూసుకుందామనుకుంటున్నారు?

మీరు సహజయోగా నుంచి గిన్నెతో నీటిని తీసుకుంటున్నారా? మీరు స్వీయ ఆనందానికి పరిమితం అవుతున్నారా లేదా అందరి ఆనందం కోసమా? లేదా మీరు ఈ అమితానందానికి మూలమా? కాబట్టి, ఇది ఆజ్ఞా చక్రం యొక్క తపస్సు, ఇది ఒక తపస్సు. ఉన్నత స్థితిని చేరుకోవాలంటే, కాఠిన్యం చాలా ముఖ్యమైనది. సహజ యోగ చాలా విస్తృతంగా వ్యాప్తి చెందుతుంది, మేము చాలా దూరం మరియు విస్తృతంగా వ్యాప్తి చేస్తున్నాము. మీరు కార్యక్రమాల్లో చూస్తారు. హాలులో ప్రజలందరికీ వసతి కల్పించవచ్చా అని నాకు ఆశ్చర్యం కలిగింది. ఇది ఎలా నిర్వహించబడుతుంది? ఇది చాలా విస్తృతంగా వ్యాపించేందుతుంది.

కానీ ఎంతమంది ఉన్నత స్థితిని చేరుకున్నారు? కాబట్టి, ఈ ఉన్నతిని సాధించడంకోసం, కాఠిన్యత అవసరం. తపస్సు ద్వారా, నా ఉద్దేశ్యం మీరు కూర్చుని ఉపవాసాలు ఉండమని కాదు, ఇది అవసరమే లేదు. కానీ, మీ చిత్తం ఆహారం మీద ఉన్నట్లయితే, మీరు దాని నుండి దూరంగా ఉండాలి. మీ చిత్తాన్ని ఎల్లప్పుడూ గమనించుకోవడమే సహజయోగంలోని తపస్సు. ఎందుకంటే మీ చిత్తం ద్వారా మీ ఆజ్ఞాని పాడుచేసుకుంటున్నారు నా చిత్తం ఎక్కడుంది? నేను ఏమి ఆలోచిస్తున్నాను? ఈ క్షణంలో నేను ఏమి చేస్తున్నాను? ఏమి ఆలోచిస్తున్నాను? మీరు మీ చిత్తాన్ని గమనించినట్లయితే ఎప్పుడూ మీ అంతరాత్మని గమనించుకోండి అప్పుడు మీ చిత్తం ఆజ్ఞాలో ప్రకాశవంతమవుతుంది.

ఇది తపస్సు. చిత్తాన్ని నియంత్రించాలంటే, మీ చిత్తాన్ని మరియు ఆలోచనలని గమనిస్తూ దృష్టిలో పెట్టుకోండి. మీ చిత్తం ఎక్కడుందో ఇప్పుడు గమనించండి . నేను మాట్లాడుతున్నాను మరియు మీ చిత్తం ఎక్కడున్నది? మీరు చిత్తం గురించి మాట్లాడుతున్న క్షణంలో, మీ చిత్తం ఎక్కడికెళ్లింది? మీ చిత్తం చాలా పరధ్యానంగా ఉన్నది. నేను మాట్లాడుతూనే ఉన్నాను మరియు మీ చిత్తం ఎక్కడ ఉన్నది? కాబట్టి, మీరు మీ చిత్తాన్ని గమనిస్తూ ఉండాలి. చిత్తాన్ని నియంత్రించడం అంటే బలవంతంగా చేయడం కాదు. కానీ మీరు మీ చిత్తాన్ని ఆత్మ యొక్క కాంతిలో గమనిస్తే అప్పుడు మీ చిత్తం ప్రకాశిస్తుంది.

మీరు ఏదైనా చూసినప్పుడు, మీరు మీ చిత్తాన్ని గమనించడంపై దృష్టి పెట్టాలి ఉదాహరణకి, నా ముందున్న ఈ స్థంభం అందమైన పూలతో అలంకరించబడి వుంది. ఇప్పుడు చుసిన ప్రతీ దాంట్లో మీరు ఎంతోకొంత గమనించవచ్చు. నేను మొత్తం గుర్తుంచుకోగలను. ఎక్కడ, ఏది, ఎక్కడైనా మరియు ఎంత తేడా వుంది? చిత్రం మొత్తం ఏర్పడుతుంది. చిత్తం యొక్క ఏకాగ్రతే ఈ చిత్రాలను రూపొందిస్తుంది. అదే మీ జ్ఞాపకశక్తిని మెరుగుపరుస్తుంది. మీరు మొత్తంగా ప్రతీదీ తెలుసుకోవచ్చు. మీరు మీ చిత్తం ద్వారా ప్రతీదీ తెలుసుకోవచ్చు. కానీ, మీ చిత్తం కలవరపడినట్లైతే అప్పుడు మీరు దేని యొక్క లోతును లేదా తీవ్రతను గ్రహించలేరు.

మీ చిత్తం ఎల్లప్పుడూ బాహ్యంగానే ఉన్నట్లయితే మీరు ఏమీ గుర్తుంచుకోలేరు. కాబట్టి, చూడండి, నేను దీన్ని ప్రతిచోటా చూస్తాను. విమానాశ్రయం దగ్గర లాగా ఇక్కడ ఒకరితో మాట్లాడుతుంటారు కానీ మరొక చోట చూస్తుంటారు ఇక్కడ చూడటం, తరవాత అక్కడ చూడటం. కానీ మీకు ఏమీ గుర్తుండదు,అది ఎవరు, ఏమిటదని? కాబట్టి, శుద్ధమైన చిత్తం చాలా కేంద్రీకృతమై ఉంటుంది. అలాంటి చిత్తం ఏదైతే గ్రహించటానికి యోగ్యమైనదో అదే గ్రహిస్తుంది. ఏదైతే అయోగ్యమైనదో, నిర్మలమైన చిత్తం దాన్ని గ్రహించదు. అలాంటి వాటికి ఇది పనిచేయదు. అలాంటి వాటి నుండి అది స్వయంగా తప్పుకుంటుంది. ఎందుకంటే ఇది చాలా శుద్ధమైనది, అశుద్ధమైన విషయాల ద్వారా అది పాడవ్వదు.

అది అక్కడకి వెళ్ళదు. మీ ఆంతర్యాన్ని గమనించడం మరియు చూడటం అనేది ఇక మీ ఇష్టం 'నా చిత్తం ఎక్కడికి వెళుతుంది?' ఇదే తపస్సు. సహజయోగాలో ఇదొక్కటే తపస్సు. నా చిత్తం ఎక్కడకి వెళుతుంది? అన్నది గమనించండి నేను ఎక్కడకి వెళుతున్నాను? నా హృదయం ఎక్కడకి వెళుతుంది? ఈ తపస్సు మీరు చేయగలిగితే, మీరు ఆజ్ఞాని దాటినట్లే. మరియు సహస్రార గురించి ఎటువంటి సందేహాలు ఉండవు ఎందుకంటే నేను అప్పటికే అక్కడ ఆశీనురాలినై ఉంటాను.
